.formDesign{
    font-size: 20px;
    padding: 15px;
    margin-left: 300px;
}
.formDesign input{
    width: 40% ;
    border-radius: 5px;
    border-color:blue;
    margin-left: 5px;
    font-size: 15px;
    padding: 1px 20px;
}
.formError{
    color:red;    
}

.btnSub{
    margin-left: 400px;
    height : 30px;
    width: 80px;
    /* font-style: bold; */
    font-size: large;
    
    border-radius: 3px;
}

.regForm{
    margin-top: 0px;

}
h3{
    text-align: center;
}